/* Header container */
.header {
    padding: 2vh 3vw; /* Padding around header content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 94vw;
    top: 0;
    background-color: #fff;
}

.header * {
    background: transparent;
}

/* Logo styling */
.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
}

nav {
    margin: 0;
}

/* Navigation menu */
.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    margin-right: 20px; /* Spacing between menu items */
}

.nav-menu li:last-child {
    margin-right: 0; /* Remove margin from the last menu item */
}
