/* AboutUs.css */

.about-us {
    text-align: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    margin-top: 25vh;
}

.about-us h2 {
    font-size: 28px;
    margin-bottom: 20px;

}

.about-us p {
    font-size: 18px;
    margin-bottom: 20px;
}
