/* Events.css */

.events *{
    background-color: #ffffff;
}
.events {
    background-color: #ffffff;
}

.events-content {
    display: grid;
    margin: 0 15vw;
    margin-top: 20vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.upcomming-events {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
}

.previous-events {
    grid-column: 1;
    grid-row: 1;
}

.event-box {
    min-width: 25vw;
    border: 2px solid #ff6600;
    border-radius: 10px;    
    margin: 0;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.events h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
}

.events h3 {
    
    font-size: 20px;
}


/* Add more styles as needed */
