.about-us {
    text-align: center;
    padding: 1vh 5vw;
}

.about-content {
    margin-top: 25vh;
}

.about-us h2 {
    font-size: 2em;
    margin-bottom: 2vh;
}

.about-us p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
