.hero {
    background-image: url('./../../../images/hero-background.jpeg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    box-shadow: 0px 0px 5px 2px rgba(70, 70, 70, 0.418);
    border-radius: 25px;

    display: flex;
    flex-direction:column;

    width: 50vw;
    min-width: content;
    min-height: 40vh;

    margin-left: 5vw;
    margin-top: 10vh;

    padding: 0vh 4vw;
}

.hero-content *{
    background: transparent;
}

.hero-content h1{
    font-size: 2.5rem;
}

.hero-content p{
    font-size: 1.2rem;
}

.cta-button {
    background-color: #ff6600;
    color: #fff;
    
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.2rem;

    border: none;
    cursor: pointer;
    transition: background-color 0.4s;
}

.cta-button:hover {
    background-color: #e65a00; /* Darker shade on hover */
}
