.planning {
    background-color: #ffffff;
    display: flex;
}

.planning *{
    background: transparent;
}

.planning-content {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: repeat(1, 1fr);
    column-gap: 10vw;
}


.upcomming-planning {
    box-shadow: 0px 0px 5px 2px rgba(70, 70, 70, 0.418);
    border-radius: 15px;
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    flex-direction: column;
}

.previous-planning {
    box-shadow: 0px 0px 5px 2px rgba(70, 70, 70, 0.418);
    border-radius: 15px;
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.planning h2 {
    margin: 15px;
    text-align: center;
    font-size: 28px;
}

.planning h3 {
    font-size: 20px;
    margin-bottom: 1vh;
    margin: 5px;
}
