.planning {
    display: flex;
}

.planning *{
    background: transparent;
}

.planning-content {
    display: grid;
    padding-top: 8vh;
    padding-bottom: 8vh;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: repeat(1, 1fr);
    column-gap: 4vw;
    
}

.Sequence {
    background: red;
    width: 25vw;
    height: 50vh;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px 5px rgb(188, 188, 188);
}

.planning h2 {
    margin: 30px;
    text-align: center;
    font-size: 2em;
}

.planning h3 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 1vh;
    margin: 5px;
}

.planning p{
    margin: 5%;
}

@media (max-width: 1200px) {
    .Sequence h2{
        font-size: 1.7em;
    }
}

@media (max-width: 900px) {
    .planning-content{
        grid-template-columns: 80vw;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 5vh;
    }

    .Sequence {
        width: 70vw;
        height: 40vh;
        font-size: 0.8em;
    }

    .planning p{
        font-size: 1.1em;
    }
}
